// Planet Background Colors
$sun-bg-color: #fb7209;
$mercury-bg-color: #713800;
$venus-bg-color: #ffd3a8;
$earth-bg-color: #0058b0;
$moon-bg-color: #ccc;
$mars-bg-color: #b00000;
$jupiter-bg-color: #f60;
$saturn-bg-color: #c0c0c0;
$saturn-ring-bg-color: #a09382;
$uranus-bg-color: #00b9b9;
$neptune-bg-color: #00f;

// Shadow
$shadow-color: rgba(#000, .6);
